export(autoCurateResults)
export(bootstrapResults)
export(calculateBamCoverageByInterval)
export(calculateGCContentByInterval)
export(calculateLogRatio)
export(calculatePowerDetectSomatic)
export(callAlterations)
export(callAlterationsFromSegmentation)
export(callLOH)
export(correctCoverageBias)
export(createCurationFile)
export(createExonWeightFile)
export(createTargetWeights)
export(createNormalDatabase)
export(createSNPBlacklist)
export(filterTargets)
export(filterVcfBasic)
export(filterVcfMuTect)
export(findBestNormal)
export(findFocal)
export(getDiploid)
export(getSexFromCoverage)
export(getSexFromVcf)
export(plotAbs)
export(plotBestNormal)
export(poolCoverage)
export(predictSomatic)
export(readCoverageGatk)
export(readCurationFile)
export(runAbsoluteCN)
export(segmentationCBS)
export(segmentationPSCBS)
export(setPriorVcf)
export(setMappingBiasVcf)
import(DNAcopy)
import(IRanges)
import(VariantAnnotation)
importFrom("Biostrings", "letterFrequency")
importFrom("GenomeInfoDb", "seqnames", "seqlevelsStyle", "seqlevelsStyle<-", 
    "genomeStyles")
importFrom("GenomicRanges", "GRanges")
importFrom("IRanges", "subsetByOverlaps")
importFrom("RColorBrewer", "brewer.pal")
importFrom("Rsamtools", "headerTabix", "ScanBamParam", "scanBamFlag", 
    "scanBam", "scanFa", "TabixFile")
importFrom("S4Vectors", "queryHits", "subjectHits", "DataFrame")
importFrom("SummarizedExperiment", "rowRanges")
importFrom("data.table", "data.table")
importFrom("grDevices", "colorRampPalette", "dev.off", "png", "adjustcolor")
importFrom("graphics", "abline", "axis", "boxplot", "contour", "hist","image", 
    "legend", "lines", "par", "plot", "text", "mtext", "polygon","points",
    "rect", "strwidth", "symbols")
importFrom("stats", "C", "complete.cases", "dbeta", "dist", "dnorm", "dunif", 
    "loess", "pbeta", "prcomp", "predict", "runif", "t.test", "weighted.mean", 
    "dbinom", "fisher.test", "hclust", "cutree", "filter")
importFrom("utils", "data", "head", "read.csv", "read.delim", "read.table", 
    "write.csv", "write.table", "tail", "packageVersion")
