export(autoCurateResults)
export(bootstrapResults)
export(calculateBamCoverageByInterval)
export(calculateGCContentByInterval)
export(calculatePowerDetectSomatic)
export(callAlterations)
export(callLOH)
export(correctCoverageBias)
export(createCurationFile)
export(createExonWeightFile)
export(createNormalDatabase)
export(createSNPBlacklist)
export(filterVcfBasic)
export(filterVcfMuTect)
export(findBestNormal)
export(findFocal)
export(getDiploid)
export(getSexFromCoverage)
export(getSexFromVcf)
export(plotAbs)
export(plotBestNormal)
export(poolCoverage)
export(predictSomatic)
export(readCoverageGatk)
export(readCurationFile)
export(runAbsoluteCN)
export(segmentationCBS)
export(segmentationPSCBS)
export(setPriorVcf)
import(DNAcopy)
import(IRanges)
import(VariantAnnotation)
importFrom("Biostrings", "letterFrequency")
importFrom("GenomeInfoDb", "seqnames")
importFrom("GenomicRanges", "GRanges")
importFrom("RColorBrewer", "brewer.pal")
importFrom("Rsamtools", "ScanBamParam", "scanBamFlag", "scanBam", "scanFa")
importFrom("S4Vectors", "queryHits", "subjectHits", "DataFrame")
importFrom("SummarizedExperiment", "rowRanges")
importFrom("data.table", "data.table")
importFrom("grDevices", "colorRampPalette", "dev.off", "png", "adjustcolor")
importFrom("graphics", "abline", "axis", "boxplot", "contour", "hist","image", 
    "legend", "lines", "par", "plot", "text", "mtext", "polygon","points")
importFrom("stats", "C", "complete.cases", "dbeta", "dist", "dnorm", "dunif", 
    "loess", "pbeta", "prcomp", "predict", "runif", "t.test", "weighted.mean", 
    "dbinom", "fisher.test", "hclust", "cutree")
importFrom("utils", "data", "head", "read.csv", "read.delim", "read.table", 
    "write.csv", "write.table", "tail", "packageVersion")
